.h1 {
  display: flex;
  align-items: center;
}

.chatlog-section {
  display: flex;
  flex-direction: column;
}

.new-chat-room:hover {
  color: green;
  cursor: pointer;
  background-color: darkgray;
}

.cancel-chat-room:hover {
color: red;
cursor: pointer;
background-color: darkgray;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 15px 18px 15px;
  font-size: 20px;
}

.room:hover {
  color: red;
  cursor: pointer;
}

.btn-default:hover {
  color: blue;
  cursor: pointer;
  background-color: darkgray;
}
