  <header>
<h1 class="project-name">Bloc Chat Home Room</h1>
  </header>

<main>
<section>
    <aside ng-controller='ModalCtrl as modal'>
        <button type="button" class="btn-default" ng-click="modal.open()">New Room</button>
            <p ng-repeat="room in rooms" ng-click="currentRoom(room)"> {{ room.$value }} </p>
    </aside>
</section>

<section>
    <div class="chatlog-section">
      <div class="currentRoom">
    <h4 style ="text-align:center;">{{ currentRoom.$value }}</h4>
  </div>
</section>

<table class="message-pane">
    <tr class="messages" ng-repeat="message in messages">
      <td <class="caputured-username"> {{ message.username }}:  </td>
      <td class="content-textbox"> {{ message.content }} </td>
      <td class="user-timestamp"> {{ message.timeSent | date:' MMM dd y, hh:mm a'}} </div>
    </tr>
</table>
    <div class="new-Message">
      <input type="text" ng-model="message.content" placeholder="Type message here">
        <button class="msg-send-button" ng-click="sendMessage(message, room)">SEND</button>
    </div>
  </section>

</main>

<footer>
    <section class="footer">
        <div> Logged on as: <span style="color:navy; font-weight: bold;"> {{ currentUser }}</span></div>
    </section>
</footer>
